code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** Top Navbar Styling ***/

.icon-logos {
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: .2rem;
}

.social-icon {
  margin: .15rem;
}

.nav-header {
  color: white;
  margin-top: .75rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: black !important;
}

.dropdown-item:hover{
  background-color: #e86100 !important;
}

.top-nav-text {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-count {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: .2rem;
  margin: .2rem;
}

/*** Bottom Navbar Styling ***/


.bottom-nav {
  background-color: black;
  height: 6rem;
  font-size: 1.5rem;
}

.bottom-nav-buttons {
  color: white !important;
  border-color: #e86100 !important;
  margin-right: 1.25rem;
}

.bottom-nav-buttons:hover {
  background-color: #e86100 !important;
}

#basic-nav-dropdown {
  color: white;
}

#search-bar{
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-dropdown-text {
  color: white !important;
}

.shop-dropdown-divider {
  color: rgb(249, 253, 0) !important;
  height: .25rem !important;
}

/*** Top Main ***/


#tempImg {
  height: 40rem;
}

.customImg {
  height: 10rem;
  background-color: #e86100;
  content: "";
  display: block;
  position: relative;
  top: -4rem;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  z-index: 2;
}

.top-headline {
  display: flex;
  position: relative;
  z-index: 3;
  height: 3rem;
  background-color: black;
  color: white;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  top: -15rem;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 25px !important;
  box-shadow: rgba(255, 163, 25, 0.4) -3px 3px, rgba(253, 172, 50, 0.3) -5px 5px, rgba(255, 184, 78, 0.2) -10px 10px, rgba(255, 205, 96, 0.1) -14px 14px, rgba(255, 211, 144, 0.05) -18px 18px;
}

/*** Individual Card Rendering ***/

.card {
  background-color: rgb(175, 175, 175) !important;
  display: flex !important;
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 36rem;
  width: 15rem !important;
  padding: 1rem;
  border-radius: 25px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-info {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1rem;
  font-size: 20px !important;

}

.card-info-2 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1rem;
  font-size: 15px !important;
}

.card-info-3 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
}

.card-info-4 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
}

.carousel-container {
  position: relative;
  z-index: 3;
  top: -12rem;
}

.card-image-container {
  background-color: white !important;
  padding: .75rem;
  margin: -1.1rem;
  border-radius: 25px;
}

.card-info-container {
  background-color: rgb(161, 161, 161);
  position: relative;
  display: flex;
  flex-direction: column;
  /* border-radius: 25px; */
  top: 1.1rem;
  justify-content: center;
}

/*** New Releases ***/

/* .new-release-container {
  height: 20rem;
} */

.customImgTwo {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(175, 175, 175); */
  background-image: linear-gradient(to right bottom, rgb(175, 175, 175) 0px, rgba(222, 224, 227, 0.8) 50%, rgb(117, 117, 117));
  top: -7rem !important;
  position: relative;
  height: 50rem;
}

.mid-headline {
  display: flex;
  position: relative;
  z-index: 3;
  height: 3rem;
  background-color: black;
  color: white;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  top: -54rem;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 25px !important;
  box-shadow: rgba(255, 163, 25, 0.4) -3px 3px, rgba(253, 172, 50, 0.3) -5px 5px, rgba(255, 184, 78, 0.2) -10px 10px, rgba(255, 205, 96, 0.1) -14px 14px, rgba(255, 211, 144, 0.05) -18px 18px;
}

.box-img {
  width: 60% !important;
}

.box-img2 {
  width: 40% !important;
}

.product-container {
  width: 35rem !important;
  background-color: #e86100 !important;
  top: 10rem;
  display: flex !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
  border: white solid 1rem !important;
  align-items: center !important;
  z-index: 1;

}

.product-container2 {
  width: 50rem !important;
  background-color: #e86100 !important;
  top: 10rem;
  display: flex !important;
  flex-direction: row-reverse !important;
  align-content: center !important;
  /* justify-content: center !important; */
  border: white solid 1rem !important;
  align-items: center !important;
}

.card-content {
  justify-content: right!important;
  align-items: right !important;
  display: flex !important;
  text-align: right;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
}

/*** Bottom Main ***/

.product-container3 {
  width: 50rem !important;
  background-color: #e86100 !important;
  top: 10rem;
  display: flex !important;
  flex-direction: row-reverse !important;
  align-content: center !important;
  justify-content: center !important;
  border: white solid 1rem !important;
  align-items: center !important;
  z-index: 1;

}

.product-container4 {
  width: 35rem !important;
  background-color: #e86100 !important;
  top: 10rem;
  display: flex !important;
  flex-direction: row !important;
  align-content: center !important;
  justify-content: center !important;
  border: white solid 1rem !important;
  align-items: center !important;
  z-index: 1;

}

.customImgThree {
  height: 10rem;
  /* background-color: rgb(18, 28, 71); */
  content: "";
  display: block;
  position: relative;
  top: -5rem;
  left: 0;
  right: 0;
  transform: skewY(3deg);
  z-index: 0;
}

.bottom-headline {
  display: flex;
  position: relative;
  z-index: 3;
  height: 3rem;
  background-color: black;
  color: white;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  top: -18rem;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 25px !important;
  box-shadow: rgba(255, 163, 25, 0.4) -3px 3px, rgba(253, 172, 50, 0.3) -5px 5px, rgba(255, 184, 78, 0.2) -10px 10px, rgba(255, 205, 96, 0.1) -14px 14px, rgba(255, 211, 144, 0.05) -18px 18px;
}

.customImgFour {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(175, 175, 175); */
  /* background-image: linear-gradient(to right bottom, rgb(175, 175, 175) 0px, rgba(222, 224, 227, 0.8) 50%, rgb(117, 117, 117)); */
  top: -25rem !important;
  position: relative;
  height: 50rem;
}

.customImgFive {
  height: 10rem;
  background-color: rgb(18, 28, 71);
  content: "";
  display: block;
  position: relative;
  top: -23rem;
  left: 0;
  right: 0;
  transform: skewY(3deg);
  z-index: 0;
}

/*** Footer ***/

.footer {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
  position: relative;
  top: -10rem;
}

.footer-logo {
  width: 50%;
  margin: 4rem auto;
  text-align: center;
  position: relative;
  top: -10rem;
}