@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');

.top-nav-container {
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

.logo {
    width: 10rem;
    position: relative;
    top: -1.5rem;
    margin-left: 2rem;
  }
  
  .logoHeader {
    color: white;
    margin-left: .5rem;
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }