body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** Top Navbar Styling ***/

.icon-logos {
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: .2rem;

}

.social-icon {
  margin: .15rem;
}

.nav-header {
  color: white;
  margin-top: .75rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: black !important;
}

.dropdown-item:hover{
  background-color: orange !important;
}

.top-nav-text {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** Bottom Navbar Styling ***/


.bottom-nav {
  background-color: black;
  height: 6rem;
  font-size: 1.5rem;
}

.bottom-nav-buttons {
  color: white !important;
  border-color: orange !important;
  margin-right: 2.5rem;
}

.bottom-nav-buttons:hover {
  background-color: orange !important;
}

#basic-nav-dropdown {
  color: white;
}

#test {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}