/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*** Top Navbar Styling ***/

.icon-logos {
  font-size: 1rem;
  margin-left: 2rem;
  margin-right: .2rem;
}

.social-icon {
  margin: .15rem;
}

.nav-header {
  color: white;
  margin-top: .75rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu {
  background-color: black !important;
}

.dropdown-item:hover{
  background-color: orange !important;
}

.top-nav-text {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*** Bottom Navbar Styling ***/


.bottom-nav {
  background-color: black;
  height: 6rem;
  font-size: 1.5rem;
}

.bottom-nav-buttons {
  color: white !important;
  border-color: orange !important;
  margin-right: 2.5rem;
}

.bottom-nav-buttons:hover {
  background-color: orange !important;
}

#basic-nav-dropdown {
  color: white;
}

#search-bar{
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-dropdown-text {
  color: white !important;
}

.shop-dropdown-divider {
  color: rgb(249, 253, 0) !important;
  height: .25rem !important;
}


/*** Top Main ***/


#tempImg {
  height: 40rem;
}

.customImg {
  height: 10rem;
  background-color: orange;
  content: "";
  display: block;
  position: relative;
  top: -4rem;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  z-index: 2;
}

.mid-headline {
  display: flex;
  position: relative;
  z-index: 3;
  height: 3rem;
  background-color: black;
  color: white;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  top: -15rem;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: rgba(240, 46, 170, 0.4) -3px 3px, rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -10px 10px, rgba(240, 46, 170, 0.1) -14px 14px, rgba(240, 46, 170, 0.05) -18px 18px;
}

/*** Individual Card Rendering ***/

.card {
  background-color: rgb(122, 122, 122) !important;
  display: flex !important;
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
  height: 35rem;
  width: 15rem !important;
  /* float: left; */
}

.card-info {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.carousel-container {
  position: relative;
  z-index: 3;
  top: -12rem
}